.container  {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-box {
  max-width: 300px;
  img {
    display: block;
    margin: 0 auto 50px;
    
  }
}

@media(min-width:575px) {
  .home-box {
    max-width: 330px;
  }
}