@import "./scss/variables";

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  background-color: $background;
  height: 100vh;
  font-family: 'Roboto', sans-serif;

  p,span {
    color: $font-color;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
  }
} 